@font-face {
  font-family: 'Gotham pro light';
  src: url('../fonts/gothampro_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham pro';
  src: url('../fonts/gothampro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham pro medium';
  src: url('../fonts/gothampro_medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham pro bold';
  src: url('../fonts/gothampro_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham pro black';
  src: url('../fonts/gothampro_black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}