footer {
  margin-top: 31px;
  padding-left: 33px;
  padding-right: 31px;
  padding-bottom: 16px;

  img {
    margin-right: 23px;
  }

  p {
    font-size: 12px;
    line-height: 11px;
    color: #fff;
    font-family: $regular;
    
  }
}