@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '_fonts';

//Цвета
$black: #000000;
$red: #FF4D4D;
$gold: #E8A23A;
$gray: #A5A5A5;

//Шрифты
$light: 'Gotham pro light';
$regular: 'Gotham pro';
$medium: 'Gotham pro medium';
$bold: 'Gotham pro bold';

// Прочее
$duration: .25s;

//Для удобной задачи шрифта
@mixin font($font_name, $weight, $size, $line_height) {
    font-family: $font_name;
    font-weight: $weight;
    font-size: $size;
    line-height: $line_height;
}

// Главная страница и общие компоненты
@import '_header';
@import '_modal';
@import '_primary';
@import '_footer';
@import '_checkbox';

@import '_about';
@import '_animations';

body {
    background: radial-gradient(184.77% 147% at 7.37% 55.34%, #000000 0%, #000000 7.37%, #000000 100%);
    min-height: 100vh;

    h1 {
        margin-bottom: 21px;
        padding-left: 75px;
        font-size: 17px;
        line-height: 16px;
        width: 290px;
        color: #fff;
        font-family: $regular;
    }
}

a {
    text-decoration: none;
}

main {
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    font-family: $regular;
    color: #fff;
}

.section-title {
    font-size: 19px;
    line-height: 18px;
    color: #000000;
    margin: 0 0 5px 0;
}

.section-subtitle {
    font-size: 14px;
    line-height: 13px;
    color: #000000;
}

.section-name {
    position: absolute;
    margin: 0;
    font-size: 36px;
    line-height: 34px;
    color: #000000;
    font-family: $bold;
    transform: rotateZ(-90deg);
}

.section-text {
    font-size: 19px;
    line-height: 18px;
    color: #000000;
}

.widget-row {
    display: flex;
    flex-wrap: wrap;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    .item {
        cursor: pointer;
        background-color: #C1C1C1;
        margin-bottom: 13px;
        padding: 30px 18px;
        width: calc(50% - 6.5px);
        font-size: 19px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
        word-break: break-all;

        &:nth-child(odd) {
            margin-right: 13px;
        }
    }
}

.widget-row::-webkit-scrollbar {
    display: none;
}